body{
    color: aliceblue;
    background-color: black;
}

ul{
    display: flex;
}

ul>li{
    list-style: none;
    padding-left: 5%;
}

ul>li>a{
    text-decoration: none;
    color: aliceblue;
}

ul>li>a:hover{
    color: aqua;
}

.fram{
    width: 1080px;
    height: 500px;
}


body{
    color: aliceblue;
    background-color: black;

}

.divmain{
    padding-top: 10px;
    padding-left: 50%;
}


.t1{
    font-size: 18px;
    padding-left: 10px;
}

.tab1{
    border-style:dotted;
    border-width: 2px;
    border-left: none;
    border-right: none;
}

#a1{
    font-size: 20px;
    color:aliceblue;
    text-decoration: none;
    border-radius: 30px;
    border-width: 2px;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    border-style:dotted;
    border-color: aqua;
}

#a1:hover{
    color: aqua;
    border-color: aliceblue;
}

#a2{
    font-size: 20px;
    color:aliceblue;
    text-decoration: none;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-style:dotted;
    border-color: aqua;
}

#a2:hover{
    color: aqua;
    border-color: aliceblue;
}

.he{
    color: rgba(124, 124, 245, 0.69);
}

#fr1{
    width: 80%;
    height:600px;
}

.time{
    border-style:dotted;
    border-color: red;
}

.time:hover{
    border-color: aliceblue;
}

.aa{
    color: aliceblue;
    text-decoration: none;
}

.aa:hover{
    color: red;
}

.aa::selection{
    color: gold;
}
